# DataScienceEcosystem

* In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the key takeaways from the course :
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Example for markdown

## Some of the popular languages that Data Scientists use are:
* python
* R
* C++

## Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Numpy
* Matplotlib

|Data Science Tools|Tableau|PowerBI|SAS|
|------------------|-------|-------|---|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [8]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
* Cao Thanh HÃ¹ng